<form action="follow_recommendation" method="GET">
	<input type="hidden" name="word_unique" value="<%= top_word[:word_unique] %>">
	<input type="hidden" name="backbone_id" value="<%= top_word[:backbone_id] %>">
	<input type="submit" class="btn btn-danger btn-block btn-lg" value="<%= top_word[:simp] %>">
</form>
