.thumbnail{
	background-color: #fcf8e3;
	border-radius: 20px;
	border-color: #eee;
	padding: 30px;
	margin-bottom: 20px;
	font-size: 20px;
}

/* custom sizes for recommendation boxes and word details */
.font-md{
	font-size: 20px;
}
.font-lg{
	font-size: 30px;
}
.font-xlg{
	font-size: 40px;
}
.font-huge{
	font-size: 50px;
}

/* hide stuff int he recommendations */
.hidden {
	display:none;
}

#controls p{
	cursor: pointer;
}


/* Annotated text views */
/* word box model */
.word{
	display: inline-block;
	cursor: pointer;
	margin-bottom: 20px;
}

/* borders can be used to highlight level or knowledge */
/*
.word.hsk1 {
	border-bottom: 3px solid #e5e5e5;
}
*/
.word.knows {
	border-bottom: 3px solid #D0E9C6;
}
.word.ignores {
	border-bottom: 3px solid #FA8072
}
.word.learning {
	border-bottom: 3px solid #fcf8e3;
}

.pinyin{
	font-size: x-small;
	text-align: center;
	color: #aaa;
}
.hanzi{
	font-size: x-large;
	text-align: center;
}

.nounderline {
	color: black;
	text-decoration: none;
}

/* toggle pinyin content */
.pinyin-content{
}
